{% extends 'base.html' %}
{% block title %}Movie Ratings Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <!-- <li><a href="/movies">View all movies</a></li> -->
    <!-- <li><a href="/users">View all users</a></li> -->
  </ul>



<h2>Selet and Rate A Movie</h2>
  <form action="/rate-movie" method="POST">
    <label for="movie-select">Please choose a movie</label>
    <select id="movie-select" name="movie">
      
      {% for movie in movies %}
        <option value="{{ movie.movie_id }}">{{ movie.title }}</option>
      {% endfor %}
    
    </select>

    <label for="enter-a-score">Please enter a score 1-5 for the selected movie</label>
    <input id="enter-a-score" name="score">
    
    <input type="submit" />
  </form>
  
  <p>
  <a href="/">return to homepage</a>
  </p>
{% endblock %}


